#added lidt flere filer til ignore for at undgå at uploade unødvendige filer

# Ignore node_modules directory
node_modules/git 

# Ignore built files and directories for the server
/build/
/dist/
*.js
*.js.map

# Ignore built files and directories for the front-end
/public/build/
/client/build/
/client/dist/
*.js
*.js.map

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore any log files
*.log

# Ignore any user-specific files
.DS_Store
.vscode/
.idea/
*.sublime-*

# Ignore npm's package-lock files
package-lock.json

# Ignore coverage temp files?
/coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules/.package-lock.json
src/debug/tsObject.ts
Backend/utilities/input.json
Backend/utilities/output.json
