:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button {
  border-radius: 0.5em;
  border: 2px solid rgb(48, 48, 48);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f3f3f3;
  cursor: pointer;
}

button:hover {
  scale: 1.01 ;
  transition: scale 0.1s ease;
}

button:active {
  background-color: #ffffff;
  scale: 0.99;
  transition: scale 0.1s ease;
}


h1, li, h2, h3, h4, h5, h6, p, a, span, div {
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
  font-size: large;
  border-bottom: 1px transparent #000000;
}

li {
  list-style-type: none;
  font-size: large;
}

li:hover {
  scale: 1.02 ;

  transition: scale 0.1s ease;
}

li:active {
  scale: 0.95;
  color: #006eff;
  transition: scale 0.1s ease;

}

