:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-y: scroll;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

/* This applies to all scrollable elements */
::-webkit-scrollbar {
  width: 0px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f100; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: #88888800; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

/* change color on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.primary-button {
  border-radius: 0.5em;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(180deg, rgb(59 161 58) 10%, #029100 100%);
  color: #ffffff;
  cursor: pointer;
}

.red-button {
  background: linear-gradient(180deg, rgb(209, 41, 41) 10%, #c00808 100%);
  border-radius: 0.5em;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  cursor: pointer;
}


.text-color-blue {
  color: #006eff;
}

.primary-button:hover {
  background: linear-gradient(180deg, rgb(52, 136, 50) 10%, #047202 100%);
}


.primary-button:active {
  scale: 0.99;

}

.red-button:hover {
  background: linear-gradient(180deg, rgb(153, 39, 39) 10%, #9a0707 100%);
}

.red-button:active {
  scale: 0.99;
}


li, p, a, span {
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

 

li {
  list-style-type: none;
  font-size: large;
  border-bottom: 1px transparent #000000;
}

li {
  list-style-type: none;
  font-size: large;
}

li:hover {
  color: #006eff;
}

li:active {
  scale: 0.98;
  color: #006eff;
}


.huezRP {
  position: relative; 
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 484px !important;
  max-width: 100%;
  overflow-y: scroll;
  color: rgba(0, 0, 0, 0.87);
  background-color: #FFFFFF;
}

.crazy-shadow {
  border: 2px solid #044fb3;
  border-radius: 0.5em;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;}




.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}